---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <div class="text-center p-5">
    <h3>¡Gracias por tu reseña!</h3>
    <a href="/" class="btn btn-primary mt-2">
      Volver al inicio{" "}
    </a>
  </div>;
</Layout>
